@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cv {
  margin: 0;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.8em;
  max-width: 1800px;
  width: 100%;
  background-color: #fbfbfb;
}

a {
  color: #1c9c94;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url("./img/bandeau.png");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 740px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: start;
}
h3 .fa {
  margin-right: 10px;
}

h3,
h4 {
  font-weight: bold;
}

h3 i {
  font-size: 34px !important;
}

.infos_container {
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}

.course,
.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course {
  justify-content: space-between;
}

.course .title {
  color: #7fc7e8;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 65%;
}

.course .descrition p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul,
ul.job-description,
ul.network {
  list-style-type: none;
}

ul.job-description {
  margin-top: 0px;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #7fc7e8;
}

.school,
.job-title strong {
  text-transform: capitalize;
}

.school span,
span.date {
  color: #889499;
  text-decoration: underline;
}

ul.job-description li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #7fc7e8;
}

.network {
  padding-left: 0px;
}

.network li {
  display: inline;
  margin-right: 5vw;
}

.network i {
  font-size: 36px;
}
.linkedin {
  color: #3f48cc;
}
.github {
  color: black;
}

footer {
  padding: 1em 1.5em;
  background: #7fc7e8;
  color: white;
  text-align: right;
}
.ajouter{
  height: 200px;
  width: 400px;
}